@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");
@import url("colors.css");
/*@import url("/home/lslape/.local/share/kadai/styles.css");*/

* {
  margin: 0;
  padding: 0;
}

body,
html {
  background-color: var(--bg);
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  background-color: var(--bg);
  background-image: url("/assets/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  color: var(--txt);
  font-family: "Source Code Pro", monospace, sans-serif;

  /* Full height */
  height: 100%;

}

#main_cont {
  z-index: 2;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  width: 80%;
  /*
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/
}

#top_stuff {
  width: 500px;
}

#message {
  font-size: 3em;
}

#clock_time {
  font-size: 1.2em;
}

#link_body {
  margin-top: 50px;
}

#link_body span {
  font-size: 2.5em;
  font-weight: bold;
  text-transform: uppercase;
}

#link_area {
  margin: 0 auto;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.link_area_item {
  font-size: 1em;
  list-style-type: none;
  /*background-color: #12151b;*/
  width: 200px;
  margin: 5px 0;
  display: inline-block;
  vertical-align: top;
}

.link_area_item h1 {
  margin: 2px 0;
  font-size: 2em;
  color: var(--primary);
}


#link_area a {
  color: var(--txt);
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;

}

#link_area a:hover {
  color: var(--primary);
  text-decoration: underline;
}

#quote_area {
  position: absolute;
  bottom: 50px;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);

  width: 30%;
  text-align: center;

  color: var(--txt);
  opacity: 0.5;
}

#quote {
  width: 70%;
  font-size: 1em;
}

#author {
  font-style: italic;
  display: block;
  font-size: .8em;
  text-align: right;
  margin-top: 10px;
}
